<div class="row-fluid">
    <div class="col-xs-offset-1 col-xs-5">
        <div class="bs-component">
            <form class="form-horizontal" method="post" action="?r=manage/password">
                <fieldset>
                    <!-- <legend align="right">登录</legend> -->
                    <div class="form-group">
                        <label for="passport" class="col-lg-2 control-label">旧密码</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="raw" name="raw" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">新密码</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="new" name="new" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">再次输入</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="second" name="second" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">修改密码</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<script>
$(function(){
    $('form').submit(function(){
        var raw = $('#raw').val();
        var newp = $('#new').val();
        var sec = $('#second').val();
        if (! raw || ! newp || ! sec) {
            alert('请填写完整');
            return false;
        }
        if (newp != sec) {
            alert('两次输入的新密码不一致');
            return false;
        }
    });
});
</script>